{# Heredando la plantilla principal #}

{% extends "default_layout.html" %}

{% block loginUser %}
<ul class="nav pull-right">
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> Login <b class="caret"></b></a>
  <ul class="dropdown-menu login-form">
      <li>
        <form method="post" class="js-signin signin" action="">
          <fieldset id="datosAcceso">
            <label class="control-label usuario" for="usr_email">Correo Electrónico</label>
            <span></span>
            <input type="text" id="usr_email" name="usr_email" required placeholder="correo@electronico.com" class="{required:true,rangelength: [10, 120]}"/>
            <label class="control-label usuario" for="usr_pass">Clave de acceso</label>
            <span></span>
            <input type="password" id="usr_pass" name="usr_pass" required class="{required:true,rangelength: [10, 10]}"/>
          </fieldset>
          <fieldset id="responseAjax" style="text-align:center;">
            <img alt="" src="images/ajax-loader.gif" id="ajaxLoader" class="hide">
            <div class="alert alert-error font-small hide" id="loginError"><strong>Usuario o clave incorrectos</strong></div>
          </fieldset>
          <fieldset id="botonera">
            <button class="btn btn-small btn-info" type="submit" id="btnLogin">Iniciar sesión</button>
          </fieldset>
          <div class="divider"></div>
          <a href="#" class="btn btn-link">¿Olvidaste tu contraseña?</a><br>
        </form>
      </li>
    </ul>
</li>
</ul>
{% endblock %}